---
import { Image } from 'astro:assets';
import type { Project } from '../pages/projects/projects';
import { kFormatter } from '../utils';
import GithubWhite from '@src/assets/img/github-mark-white.svg';
import GithubBlack from '@src/assets/img/github-mark.svg';

const { projects } = Astro.props;
---

<div class='grid grid-cols-12 gap-5'>
	{
		projects.map((project: Project) => (
			<div class='col-span-12 sm:col-span-6 lg:col-span-4 card-apple p-5 shadow-apple'>
				<div class='flex justify-between items-center'>
					<div class='flex gap-2'>
						{(project.tags || [])?.map((tag: string) => (
							<span class='tag-apple text-xs'>
								{tag}
							</span>
						))}
					</div>

					{project.stargazers_count !== undefined && (
						<div class='shrink-0'>
							<a
								href={project.html_url}
								target='_blank'
								class='tag-apple text-xs flex items-center gap-1'>
								<Image src={GithubBlack} height={12} class='dark:hidden' alt='Github stars' />
								<Image src={GithubWhite} height={12} class='hidden dark:block' alt='Github stars' />
								{kFormatter(project.stargazers_count)} stars
							</a>
						</div>
					)}
				</div>
				<h3 class='font-semibold my-3 text-apple-near-black dark:text-white tracking-[0.196px] leading-[1.14]'>
					<a class='text-apple-link-blue dark:text-apple-bright-blue hover:underline' href={project.demoLink} target='_blank' rel={project.demoLinkRel}>
						{project.name}
					</a>
				</h3>
				<div class='line-clamp-2 text-black/80 dark:text-white/80 mb-4 min-h-[50px] text-[15px] leading-[1.47] tracking-[-0.374px]'>
					<p>{project.description}</p>
				</div>
				<div class='flex justify-end gap-3'>
					{project.postLink && (
						<a class='text-apple-link-blue dark:text-apple-bright-blue hover:underline text-sm tracking-[-0.224px] flex items-center gap-2' href={project.postLink}>
							Article
						</a>
					)}
					<a class='text-apple-link-blue dark:text-apple-bright-blue hover:underline text-sm tracking-[-0.224px] flex items-center gap-2' href={project.demoLink} target='_blank' rel={project.demoLinkRel}>
						Demo
						<svg
							xmlns='http://www.w3.org/2000/svg'
							width='14'
							height='14'
							viewBox='0 0 24 24'
							fill='none'
							stroke='currentColor'
							stroke-width='2'
							stroke-linecap='round'
							stroke-linejoin='round'
							class='lucide lucide-external-link'>
							<span>
								<path d='M15 3h6v6' />
								<path d='M10 14 21 3' />
								<path d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6' />
							</span>
						</svg>
					</a>
				</div>
			</div>
		))
	}
</div>
